/* div przycisku zaloguj/wyloguj i gówrny div przy logowaniu/rejestracji */

a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
}
header{
    height: 10vh;
    background-color: #191919;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 7%;
    padding-right: 3%;
    
}

h3{
    font-style: italic;
    font-size: large;
    text-align: center;
    position: relative;
    top: 50%;
}
.kup{
    border-radius: 50px;
    border: none;
    background-color: red;
    padding: 3px 20px;
    color: white;
    cursor: pointer;
    font-family: 'MuseoModerno';

}
.content{
    display: flex;
    justify-content: center;
}
.koszyk{
    border-radius: 50px;
    border: none;

    color: white;
    background-color: #191919;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'MuseoModerno';
}
.logo{
    margin-right: auto;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    border: blue 2px;
    cursor: pointer;
    font-family: 'MuseoModerno';
    letter-spacing: 0.10em;
}
.zaloguj{
    border-radius: 50px;
    border: none;
    background-color: blue;
    padding: 3px 20px;
    color: white;
    margin-left: 15px;
    cursor: pointer;

    font-family: 'MuseoModerno';
}
.zarejestruj{
    border-radius: 50px;
    border: none;
    background-color: red;
    padding: 3px 20px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
    font-family: 'MuseoModerno';
}
#img1{
    width: 25%;
}

/* text ze strony warunki + komunikaty o błędach - można by je oddzielić i  inaczej sformatować */


/* div rejestracji */
.register-box{
    background-color:#191919;
    margin: auto;
    width: 15%;
    padding: 10px;
    text-align: center;
}

/* div logowania */
.login-box{
    font-family: Helvetica;
    color: white;
    background-color: #191919;
    margin: auto;
    margin-top: 150px;
    width: 20%;
    padding: 10px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 7px 7px  #888888;
}

.logo-button  img{
    margin: 30px;
    max-width: 60%;
    max-height: 60%;
}

.mb-1{
    margin-top: 80px;
    margin-bottom: 0px;
}

.mb-0{
    margin-top: 5px;
}


.mb-1 > a{
    text-decoration: underline;
    color: white;
}
.mb-0 > a{
    text-decoration: underline;
    color: white;
}

