/* div przycisku zaloguj/wyloguj i gówrny div przy logowaniu/rejestracji */
.login_button{
    background-color: rgb(67, 204, 67);
}

/* zdjecia */
#img1{
    height: auto;
    width: 5%;
}

/* napis/logo */ 
body{
    margin: 0px;
    padding: 0px;
}
header{
    
    height: 10vh;
    width: 100vw;
    background-color: #191919;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo{
    
}
/* text ze strony warunki + komunikaty o błędach - można by je oddzielić i  inaczej sformatować */
h3{
    font-style: italic;
    font-size: large;
    text-align: center;
    position: relative;
    top: 50%;
}

/* div rejestracji */
.register-box{
    background-color:#191919;
    margin: auto;
    width: 15%;
    padding: 10px;
    text-align: center;
}

/* div logowania */
.login-box{
    background-color:;
    margin: auto;
    width: 15%;
    padding: 10px;
    text-align: center;
}